@charset "UTF-8";

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(to top, #0b837f, rgb(6, 49, 85));
    height: 100vh;
    width: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#central {
    background-image: url(../imagens/fundo.jpeg);
    width: 258px;
    height: 535px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-130px, -270px);
}

section#central > div#eu {
    display: block;
    background: url('../imagens/eu\ pq.png') no-repeat;
    background-size: contain;
    width: 258px;
    height: 535px;
    transform: translate(0%, 10%);
    top: 50%;
    left: 50%;
}

section#central2 > div#celular {
    background: url('../imagens/iphone.png') no-repeat;
    background-size: cover;
    display: block;
    width: 269px;
    height: 547px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-51%, -50%);
}

section#central > div#rodape {
    background: url(../imagens/RP2.png);
    border: none;
    width: 250px;
    height: 140px;
    display: block;
    background-size: contain;
    transform: translate(1%, -107%);
}

section#redes-sociais {
    text-align: left;
    padding: 3px;
    color: white;
    transform: translate(0px, 35px);
    overflow-y: hidden;
    overflow-y: hidden;
}

section#redes-sociais img {
 width: 50px;
 margin: 10px;
 border-radius: 50%;
 box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.434);

}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.608);
    box-sizing: border-box;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.615);
    transition: transform 0.5s, border 0.5s;
        }

section#redes-sociais2 {
    text-align: left;
    padding: 3px;
    color: white;    
    font-size: 9px;
    transform: translate(0%, 0%);
}

section#redes-sociais2 img {
 width: 50px;
 margin: 10px;
 border-radius: 50%;
 box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.434);
}

section#redes-sociais2 img:hover {
    border: 2px solid rgba(255, 255, 255, 0.608);
    box-sizing: border-box;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.615);
    transition: transform 0.5s, border 0.5s;
}

#tt1 {
    text-decoration: none;
    color: rgb(225, 242, 241);
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.499);
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    text-align: left;
    font-size: 11px;
    transform: translate(13px, 0%);
}

#tt2 {
    text-decoration: none;
    color: rgb(225, 242, 241);
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.499);
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    text-align: left;
    font-size: 11px;
    transform: translate(0%, 0%);
}

div > hr {
    background-color: #30D9A9;
    background-size: contain;
    width: 200px;
    height: 50px;
    border: none;
    transform: translate(0%, 740%);
}





